<div class="jumbotron">
  <h2><%= @questions.count %> Questions:</h2>

  <ul>
    <% @questions.each do |question| %>

      <li>
        <%= link_to question.title, question_path(question) %>
      </li>

    <% end %>

  </ul>

  <% if @questions.empty? == true %>
    <p>There are no questions yet. Make one!</p>
  <% end %>
</div>

<%= link_to 'Ask a Question', new_question_path, class: 'btn btn-primary' %>
