<p>
  <%= answer.description %> <%= link_to '[X]', [answer.question, answer],
               method: :delete,
               data: { confirm: 'Are you sure you want to delete this answer?' } %>

</p>
