
<% if answer.description.length >= 50 %>
  <p><%= answer.description %></p>

  <p>
    <%= link_to 'Delete this Answer', [answer.question, answer],
                   method: :delete,
                   data: { confirm: 'Are you sure you want to delete this answer?' } %>
  </p>
<% end %>
