<!DOCTYPE html>
<html>
<head>
  <title>Rescue Mission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Rescue Mission</h1>
<h2>The place to ask and answer questions of all fancy sorts</h2>

<%= yield %>

</body>
</html>
