<!DOCTYPE html>
<html>
<head>
  <title>Rescue Mission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="top-title">
    <h1 id="title"><span class="glyphicon glyphicon-plus"></span> <strong>Rescue Mission</strong></h1>
    <h2 id="subtitle"><small>The place to ask and answer questions of all fancy sorts</small></h2>
  </div>

  <%= yield %>

</div>
</body>
</html>
